<nav class="visible-md-block visible-lg-block" id="real_nav">
    <span><a title="home" class="" href="/">home</a></span>
    <span><a title="categories" class="" href="/categories/">categories</a></span>
    <span><a title="tags" class="" href="/tags/">tags</a></span>
    <span><a title="logs" class="" href="/logs/">logs</a></span>
    <span><a title="guestbook" class="" href="/guestbook/">guestbook</a></span>
    <span><a title="about" class="" href="/about/">about</a></span>
    <span><a title="subscribe by RSS" class="" href="/feed/" >Subscribe</a></span>
</nav>
<!-- <div class="navbar visible-xs-block visible-sm-block">
	<ul class="nav nav-justified">
		<li><a id="toptitle" href="">Besky</a></li>
		<li><a href="/">Home</a></li>
		<li><a href="/categories/">Categories</a></li>
		<li><a href="/tags/">Tags</a></li>
		<li><a href="/logs/">Logs</a></li>
		<li><a href="/guestbook/">GuestBook</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/feed/">Subscribe</a></li>
	</ul>  
</div>
 -->
