<!-- 用于 md / lg 设备的左侧导航栏 -->
<nav id="real_nav">
    <span><a title="home" class="" href="/">Home</a></span>
    <span><a title="categories" class="" href="/categories/">Categories</a></span>
    <span><a title="tags" class="" href="/tags/">Tags</a></span>
    <span><a title="logs" class="" href="/logs/">Logs</a></span>
    <span><a title="guestbook" class="" href="/guestbook/">Guestbook</a></span>
    <span><a title="about" class="" href="/about/">About</a></span>
    <span><a title="subscribe by RSS" class="" href="/feed/" >Subscribe</a></span>
</nav>