<nav id="real_nav">
	<span><a title="home" class="" href="/">home</a></span>
	<span><a title="categories" class="" href="/categories/">categories</a></span>
	<span><a title="tags" class="" href="/tags/">tags</a></span>
	<span><a title="logs" class="" href="/logs/">logs</a></span>
	<span><a title="guestbook" class="" href="/guestbook/">guestbook</a></span>
	<span><a title="about" class="" href="/about/">about</a></span>
	<span><a title="subscribe by RSS" class="" href="/feed/" >Subscribe</a></span>
</nav>